body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#nintendo{
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color:transparent;
    padding: 20px;
    border-radius: 10px;
}

#top{
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    background-color: rgb(59, 71, 71);
    border: 1px solid;
    border-radius: 8px;
}

#bot{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(59, 71, 71);
    border: 1px solid;
    border-radius: 8px;
}

#screenTop, #screenBot{
    width: 240px;
    height: 200px;
    background-color: rgb(59, 71, 71);
    margin-top: 10px;
    border: 2px solid;
    border-radius: 5px;
}

.speaker1, .speaker2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30px;
    height: 10px;
    margin: 1px;
    align-items: center;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 50px;
}

.speaker1 div, .speaker2 div{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

.buttonsCircle{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    margin: 5px;
    display: flex;
}

.buttonBot{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screenTop{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#screenBot{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 92%;
    height: 92%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
}

.buttonLeft{
    grid-column: 1;
    display: flex;
    align-items: center;
    padding-left: 25%;
    padding-bottom: 35%;
}

#rightSide{
    height: 100%;
}

.buttonRight{
    height: 100%;
    display: flex;
    padding-top: 90px;
    justify-content: space-around;
}

.rectanguloArrow{
    display: flex;
    width: 60px;
    height: 20px;
    background-color: black;
    position: relative;
    margin: 5px;
}

#up{
    rotate: 90deg;
    position: absolute;
    display: flex;
}

#down{
    display: flex;
    position: absolute;
}

.rectanguloArrowRight{
    display: flex;
    width: 80px;
    height: 20px;
    position: relative;
}

#vertical{
    rotate: 90deg;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#horizontal{
    display: flex;
    justify-content: space-between;
}

#Y, #X, #A, #B{
    width: 20px;
    height: 20px;
    color: white;
    font-size: 15px;
    border: 2px solid #000;
    border-radius: 10px;
}

#xx{
    width: 100%;
    height: 100%;
    text-align: center;
    rotate: 90deg;
}

#B{
    rotate: 270deg;
    display: flex;
    justify-content: center;
    align-content: center;
}

#bb{
    width: 100%;
    height: 100%;
    text-align: center;
}

#yy{
    width: 100%;
    height: 100%;
    text-align: center;
}

#aa{
    width: 100%;
    height: 100%;
    text-align: center;
}

.buttonBot{
    font-size: 10px;
    display: flex;
}

#com{
    color: white;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    top: -155px;
    right: 25px;
}

.circle{
    width: 5px;
    height: 5px;
    color: black;
    border: 1px solid #000;
    background-color: black;
    border-radius: 15px;
    margin-left: 30px;
    justify-content: space-around;
    position: relative;
    top: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}